*{
  margin: 0;
  padding: 0;
}

.quiz-container{
  font-family: monospace;
  color:#2d264b;

  background:white;
  width: 500px;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box; 
}
body{
  background: linear-gradient(0deg,skyblue 0.03%,rgb(147, 147, 236));
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
}
.active-question-nbr{
  font-size: 32px;
  font-weight: 500;
  color: #2d264b;

}
.total-questions{
  font-size: 16px;
  font-weight: 500;
  color: rgb(112, 109, 109);
}
h2{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
ul{
  margin-top: 20px;
  
}
li{
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  background: aliceblue;
  border: 1px solid gray;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}
li:hover{
  border: 2px solid peru;

}
.selected-answer{
  border: 1px solid peru;
  background-color: rebeccapurple;
  color: white;
}
.footer{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}
button{
  padding: 10px 20px;
  background:linear-gradient(0deg,skyblue 0.03%,rgb(147, 147, 236));
  color: white;
  font-size: 16px;
  font-family: monospace;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
}
button:disabled{
  background-color: #c3bddf;
  cursor:not-allowed;
  border: none;
  outline: none;
}
.result{
  text-align: center;

}
h3{
  font-size: 24px;
  letter-spacing: 1.5px;
}
p{
font-size: 16px;
margin-top: 10px;
}
p span{
  font-size: 22px;
}